{% extends 'cyberbullying/base.html' %}

{% block title %}
Admin Console
{% endblock %}

{% block content %}
    <h1>Admin Console</h1>
    <h3>Please start working on ui for this. File can be found at /templates/cyberbullying/admin_console.html</h3>

    <hr>

    {% for complaint in complaints %}
        <div style="border: 5px solid black; margin-bottom: 30px;">
            <h2><a href="{% url 'complaint_detail' pk=complaint.pk %}">Complaint {{ complaint.id }}</a></h2> <br>
            Date of issue => {{ complaint.issue_datetime }} <br> <br>
            Location of issue => {{ complaint.issue_location }} <br> <br>
        </div>
    {% endfor %}
{% endblock %}