{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/calendarview.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <title>{% block title %} {% endblock %}  | Anti Cyber Bullying Portal</title>
</head>
<body>

    		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% url 'home' %}" class="logo">introspect</a>
					<nav id="nav">
						<a href="{% url 'home' %}">Home</a>
						<a href="{% url 'complaint_new' %}">Report Complaint</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'admin_console' %}">Admin Console</a>
                            <a href="/admin/logout">Admin Logout</a>
                        {% else %}
                            <a href="/admin/login">Admin Login</a>
                        {% endif %}
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    {% block content %}

    {% endblock %}

    		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Get in Touch</h2>
					</header>
					<form method="post" action="#">
                        {% csrf_token %}
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="alt" /></li>
						</ul>
					</form>
					
					</div>
				</div>
			</section>

			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

</body>
</html>