{% extends 'cyberbullying/base.html' %}

{% block title %}
    Complaint {{ complaint.id }}
{% endblock %}

{% block content %}
<div style="padding:5%;">
    Date of issue => {{ complaint.issue_date_time }} <br> <br>
    Location of issue => {{ complaint.issue_location }} <br> <br>
    Description => <br>{{ complaint.issue_description }} <br> <br>
    Has it been reported to any authority? => {{ complaint.issue_reported }} <br> <br>
    Links => {{ complaint.links }} <br> <br>
    Resolution status => {{ complaint.resolution_status }} <br> <br>
    Date of issue raised => {{ complaint.created_date }} <br>
</div>
{% endblock %}