{% extends 'cyberbullying/base.html' %}

{% block title %}
    Complaint {{ complaint.id }}
{% endblock %}

{% block content %}
<div style="padding:5%;">
    <h1>Complaint {{ complaint.id }}</h1>
    <p> <strong>Date of issue </strong> {{ complaint.issue_date_time }}</p>
    
    <p><strong>Location of issue</strong> => {{ complaint.issue_location }} </p>
    <p><strong>Description</strong>{{ complaint.issue_description }} </p>
    <p><strong>Has it been reported to any authority?</strong> {{ complaint.issue_reported }} </p>
    <p><strong>Links</strong> {{ complaint.links }} </p>
    <p><strong>Resolution status</strong> {{ complaint.resolution_status }} </p>
    <p><strong>Date of issue raised</strong> {{ complaint.created_date }}</p>
</div>
{% endblock %}