{% extends 'cyberbullying/base.html' %}

{% block title %}
New Complaint
{% endblock %}

{% block content %}


		<!-- Main -->
        <section id="main" >
            <div class="inner">
                <header class="major special">
                    <h1>Report a Complaint</h1>
                    <p>We will be the voice of your reason.</p>
                   <div class="paragraph paragraph--type--styled-numbered-list paragraph--view-mode--default paragraph--wrapper">
      <h3>Follow these steps to make a complaint</h3>
                  <ol>
                  
          <h4><strong><li> Collect evidence and information</strong></h4>
<p>Find out about the evidence and information you need in order to make a complaint. It is also a good idea to collect evidence before you report to social media services. Read more about <a href="https://www.esafety.gov.au/report/cyberbullying/collecting-evidence">collecting evidence</a>.</p>

        </li>
                  
          <h4><strong><li>Report to the social media service where the bullying took place</strong></h4>
<p>The <a data-entity-type="node" data-entity-uuid="97c51dc9-b56b-4df3-8f96-d2a3d680479d" href="https://www.esafety.gov.au/key-issues/esafety-guide" title="The eSafety Guide">eSafety Guide</a> has reporting links for social media services, apps, games and websites. If the abusive material is posted on one of the <a href="https://www.esafety.gov.au/about-us/consultation-cooperation/working-with-social-media">social media services</a> we work with you should report it to them first and wait 48 hours for a response.</p>

        </li>
                  
          <h4><strong><li>Make a cyberbullying complaint to our website.</strong></h4>
<p>Once you have collected relevant evidence and information.</p>
<p><a class="c-btn c-btn--alert" href="https://submit.esafety.gov.au/Produce/wizard/ca3acccd-07bf-4a12-9c0e-f93e50a46ab6?portal=1">Click here for more information.</a>
</div>

</div>
</section>

<form method="POST" style="padding: 5%;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register Complaint</button>
</form>

{% endblock %}