{% extends 'cyberbullying/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>Are you being bullied? <br> <span>Allow us to help you overcome
        ever-rising barrier of cyberbullying</span></h1>
        <ul class="actions">
            <li> <a href="https://samyaksand-svelte-chat-app-ieee-internship.vercel.app/" target="_blank" class="button alt" >Chat with us ! </a></li>
            
        </ul>
    </div>
</section>

<!-- One -->
<section id="one">
    <div class="inner">
        <header>
            <h2>Take immediate action</h2>
        </header>
        <p>Attempt to identify the cause, stop responding to the bully's message. Save evidence in the form of screenshots or recordings before blocking the bully.
        <br>
     After blocking the bully, do not forget to change your account settings.
    We will provide you with brief counseling and you can also submit your complaint.</p>
        <ul class="actions">
            <li><a href="{% url 'complaint_new' %}" class="button alt">REPORT COMPLAINT</a></li>
        </ul>
    </div>
</section>

<!-- Two -->

<section id="two">

    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3><a href="https://www.youtube.com/watch?v=smXwz0GQlME">Why it happens?</a></h3>
                </header>

                <div class="image fit">
                    <img src="https://cdn.jsdelivr.net/gh/samyaksand/Anti-Cyber-Bullying/images/pic01.jpg" alt="" />
                </div>
                <p>There are many reasons why kids and teens become cyber bullies. Usually however, cyber bullies have some sort of insecurity. To protect their egos and feel superior, they make others feel bad about themselves. Some cyber bullies see it as a means to gain popularity and others do it to feel powerful or escape their own problems.</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3><a href="https://www.youtube.com/watch?v=0Xo8N9qlJtk">How it happens?</a></h3>
                </header>
                <div class="image fit">
                    <img src="https://cdn.jsdelivr.net/gh/samyaksand/Anti-Cyber-Bullying/images/pic02.jpg" alt="" />
                </div>
                <p>Cyberbullying occurs through SMS, text messages, social media, online gaming, forums, or other apps through which people can view or share content.
                These can all be used to bully and make fun of someone. Sending humiliating and abusive text or video messages, as well as photo messages and phone calls over a mobile phone is a common method of bullying.</p>
            </div>
        </article>
    </div>
</section>

<section id="one">
    <div class="inner">
        <header>
            <h2>Stats</h2>
        </header>
        <p>Total Issues: {{ total_issues }}
        <br>
        Resolved Issues: {{ resolved_issues }}
        </p>
    </div>
</section>
{% endblock %}